{% extends 'layouts/base.html.twig' %}

{% block title %}
Liste des derniers articles
{% endblock %}

{% block content %}
<main>
<section>
<h1>Derniers articles</h1>
  <article>
  <header>
  <h1>La fin des haricots magiques</h1>
  <p>Par Hugo Gérault</p>
  </header>
  <p>Les haricots magiques sont une sorte de plante magnifiques permettant de restaurer les facultés de combat de supers guerriers.</p>
  </article>
</section>
</main>
{% endblock %}